//  mudar as valores da variaveis de acordo com o seu tema/layout  . 
$logo-height: 80px;
$bg-on-top-color: transparent;
$bg-color-on-scroll: $cor-primary-orange;
$bg-color-menu-open-mobile: $cor-primary-orange;
$bg-color-header-menu-open-mobile:  $cor-primary-orange;;
$border-bottom-color:  rgba(0, 0, 0, .05);
$color-links: #fff;
$color-hamburguer: #fff;
// background: linear-gradient(180deg, #19222E 0%, rgba(25, 34, 46, 0) 145%);

#logo {
	height: $logo-height;
    transition: 0.3s ease-in-out;

	img{
        height: 100%;

	}
	
}
#header {

	background: $bg-on-top-color;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 99999;
	transition: background-color 0.3s ease-in-out;
	

	&.sticky{
		background: $bg-color-on-scroll;
		box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);

        
	}
	&.bg-on-menu-open{
		background-color: $bg-color-header-menu-open-mobile;
	}
    @media (min-width: 1024px){
        &.sticky #logo {
            height: calc(#{$logo-height} - 10px);
            
        
        }
    }
	@include d(m){
		&.sticky #logo{
			height: calc(#{$logo-height} - 10px);
		}
	}
}

.header-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	 padding: 1rem 0;
}

#menu {
	display: flex;
    align-items: center;

    li+li{
        margin-left: 2rem;
    }
	
	.btn-primary{
		@include Botao-outline(#fff, #fff);
		margin-left: 2rem;
		font-size: 1.125rem;
		font-weight: 600;
		transition: transform 0.2s ease;
	
		img{
			filter: brightness(0) invert(1);
		}
		@media screen and (min-width: 1024px) {
			&:hover{
				transform: scale(1.07);
			}
		}
		// &:hover{
		// 	background-color: $cor-primary-orange;
		// }
	}

}

#menu .link {
	display: block;
	padding: .5rem;
   
    line-height: 120%;
    font-size: 1.125rem;
	font-family: $font-1;
	font-weight: 600;
	transform: transform 10s ease;

	a{
		color: $color-links;
	}
	@media screen and (min-width: 1024px) {
		&:hover{
			transform: scale(1.07);
		}
	}

	
}

#btn-mobile {
	display: none;
}

@include d(m){
    .buttons{
        display: none;
    }
	
    #nav.active #menu .buttons{
        display: flex;
		margin-top: 1rem;
		align-items: center;
        // flex-direction: column;

		

		
    }
	#btn-mobile {
		display: block;
        
	}
	
	#header{
		&.sticky #menu{
			top: calc(#{$logo-height - 10px} + 2rem);
		}
	}
	#menu {
		display: block;
		position: fixed;
		
		width: 100%;
		top: calc(#{$logo-height} + 2rem);
		left: 0;
        bottom: 0;
		
        transform: translateX(-100%);
		transition: 0.3s ease-in-out;
		opacity: 0;
		z-index: 1000;
		
		overflow-y: hidden;

		.btn-primary{
			margin: 1rem;
		}
	}
	#nav.active #menu {

        transform: translateX(0);
		overflow-y: auto;
        opacity: 1;
		background-color: $bg-color-menu-open-mobile;
	}
	#menu {
        li+li{
            margin-left: 0;
        }
        .link {
            padding: 1rem 0;
            margin: 0 1rem;
            border-bottom: 2px solid $border-bottom-color;
        }
    }

	#btn-mobile {
		display: flex;
		padding: .5rem 1rem;
		font-size: 1rem;
		border: none;
		background: none;
		cursor: pointer;
		gap: .5rem;
        color: $color-hamburguer;
	}
	#hamburger {
		display: block;
		border-top: 2px solid;
		width: 20px;
       &::after,&::before {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background-color: currentColor;
            margin-top: 5px;
            transition: .3s;
            position: relative;
        }
	}

	#nav.active #hamburger {
		border-top-color: transparent;
		color:  $color-hamburguer;

        &::before {
            transform: rotate(135deg);
        }
    
        &::after {
            transform: rotate(-135deg);
            top: -7px;
        }
        
	}

	
}

